@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");
/* Media query for mobile screen */
@media only screen and (max-width: 768px) {
  .feed {
    margin-left: 0 !important;
  }
}
/* Hide scrollbar for all elements in WebKit-based browsers */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for all elements in Firefox */
* {
  scrollbar-width: none;
}

/* Styling for navbar toggler */
.navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none !important;
}

/* Styling for feed header */
.feedHeader {
  position: sticky;
  top: 0;
  z-index: 1020;
  background-color: rgba(251, 251, 253, 0.8) !important;
  backdrop-filter: saturate(180%) blur(20px);
}


/* Media query for adjusting logo size on mobile */
@media only screen and (max-width: 768px) {
  .logo {
    width: 100px !important;
    margin: 20px;
  }
  .sub-container {
    height: auto !important;
  }
}

/* Media query for adjusting sub-container height on larger screens */
@media only screen and (min-width: 1028px) {
  .sub-container {
    height: 100vh !important;
  }
}

/* Styling for focused input */
input:focus {
  background-color: #fff !important;
}

/* Styling for logo text */
.logo-text {
  font-size: 3rem;
  font-family: "Grand Hotel", cursive;
}

/* Hover styling for sidebar links */
.sidebar-link:hover {
  .links {
    background-color: rgb(227, 227, 227);
    border-radius: 20px;
  }
}

/* Styling for lower section */
.lower-sec {
  padding: 10px 10px;
}

.lower-sec:hover {
  background-color: rgb(227, 227, 227);
}

/* Styling for buttons */
.btn {
  --bs-btn-border-color: none;
}

/* Styling for dropdown toggle */
.dropdown-toggle::after {
  content: none !important;
}

/* Styling for profile name */
.profile-name {
  width: 118px; /* Adjust the width according to your needs */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Hiding scrollbar in WebKit-based browsers */
::-webkit-scrollbar {
  display: none !important;
}

/* Styling for post button */
.post-btn {
  cursor: pointer !important;
}

/* Styling for focused textarea */
textarea:focus {
  /* border: 1.5px solid #0071e3 !important; */
  box-shadow: none !important;
  outline: none !important;
}
